@use '../../themes' as th;

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    z-index: 2;

    &-OverlaySecondary {
        position:initial;
        background-color: th.$colorTextPrimary;
    }

    &-Hamburger {
        width: 30px;
        height: auto;

        @media (th.$desktop){ display: none; }

        path{ fill: th.$colorPrimary; }
    }

    &-Inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (th.$desktop){
            width: 960px;
            margin: 0 auto;
            padding: 32px 0;
        }

        @media (th.$desktopLarge){ width: 1260px; }
    }

    &-Logo { width: 140px;}

    &-LogoLink{
        padding: 7px 20px 7px 20px;
        background-color: th.$colorPrimary;
        border-radius: 30px;

        &.Header-Active{
            padding: 0px;
            background-color: #ffffff00;
            border-radius: 0px;
        }
    }

    &-Nav {
        display: none;

        @media (th.$desktop){ display: block; }
    }

    &-NavLink {
        color: th.$colorSecondary;
        letter-spacing: 1px;
        margin-right: 48px;
        transition: text-shadow 0.3s ease-out;

        &:hover {
            text-shadow: 0.7px 0 0 th.$colorBgSecondary;
        }

        &.Header-Active{
            color: th.$colorPrimary;
            border-color: th.$colorPrimary;

        }

    }

    &-NavButton {
      display: inline-block;
      margin-right: 24px;

      &:last-child {
          margin-right: 0;
      }
    }

    &-Active{
        border-style:  none none solid none ;
        border-color: th.$colorSecondary;
    }
}
